.login-body {
    background-color: #fbe3ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    width: 100%;
    max-width: 40rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    text-align: center;
  }
  
  .login-box h1 {
    font-size: 2rem;
    color: #e91e63;
    margin-bottom: 1rem;
  }
  
  .login-box p {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .btn-login {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #e91e63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-login:hover {
    background-color: #d81b60;
  }
  